<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

{{new-answer saveAnswer2="saveAnswer3"}}
